@font-face {
  font-family: "interMedium";
  src: url("/fonts/interMedium.otf");
}

@font-face {
  font-family: "interBold";
  src: url("/fonts/interBold.otf");
}
@font-face {
  font-family: "interSemiBold";
  src: url("/fonts/interSemiBold.otf");
}
