@import "./clear.css";
@import "./base.css";

html {
  font-size: 62.5%;
}

body {
  background-color: #f3f4f8;
  height: 100dvh;
  color: var(--color-text-main);
  font-family: "interMedium";
}

#app {
  max-height: 100dvh;
  height: 100dvh;
}
